<a href="https://colab.research.google.com/github/KrGil/Baemin-for-office-workers/blob/master/pandas_apply_lambda_expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##def
def add1(x):
    return x +1

In [ ]:
add1(2)

In [ ]:
add1 = lambda x : x+1

In [ ]:
add1(2)

##정규표현식을 사용하지 않고, 개봉연도 출력하기

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/추천 시스템 입문반(강의용)/data/ml_latest_small/movies.csv', index_col = 'movieId')

In [ ]:
movies.sample()

In [ ]:
sample_title = movies['title'][1]
sample_title

In [ ]:
sample_title[:4] ##0~3

In [ ]:
sample_title[-5:-1]

In [ ]:
def get_year(x) :
    return x[-5:-1]

In [ ]:
get_year(sample_title)

In [ ]:
years = []
for title in movies['title'] :
    years.append(get_year(title))

In [ ]:
print(set(years))

In [ ]:
##pandas apply, lambda expresstion 으로 간단하게 풀어보기
##apply : title이라는 컬럼에 함수를 반복 적용, for문의 기능
##apply(함수) : 함수를 lambda 함수로도 쓸 수 있다.

movies['title'].apply(get_year)

In [ ]:
 movies['title'].apply(lambda x : x[-5:-1])